.overallContainer{
    display: grid;
    width: 375px;
    margin: auto;
    grid-template-areas: "hd"
                        "main"
                        "ft";
    grid-gap: 10px;
}

.box{

    border-top-color: hsl(180, 62%, 55%);
}
.card{
    border: 1px solid hsl(0, 0%, 98%);
    box-shadow: 2px 2px 10px rgb(202 202 202);
    border-top-width: 10px;
    border-top-color: hsl(180, 62%, 55%);
}

.header{
    grid-area: hd;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: teal;
}
#sub{
    flex: 30%;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 3vh;
    color: white;
}
#title{
    flex: 70%;
    padding-top: 5vh;
    color: white;
}
.main{
    grid-area: main;
    opacity: 0.7;
}

.footer{
    grid-area: ft;

}
.footerIcons{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
}

.postsContainer{
    display: grid;
    width: 375px;
    margin: auto;
    grid-template-columns: 400px ;
    grid-auto-rows:minmax(50px, auto);
    grid-gap: 5px;
}
.post{
    width: 375px;
}


@media (min-width: 1440px){
    .overallContainer{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 50% 50% ;
        grid-auto-rows:minmax(50px, auto);
        grid-template-areas: "hd hd hd hd hd hd hd hd"
                        "main main main main main main main main"
                        "ft ft ft ft ft ft ft ft";
    }
    .postsContainer{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr) ;
        grid-auto-rows:minmax(50px, auto);
        grid-gap: 10px;
    }
    .post{
        width: 100%;
    }
    #sub{
        flex: 45%;
        padding: 7vh;
    }
    #title{
        flex: 55%;
    }
}
.footer{
    background-color: teal;
    color: white;
}
.footer a{
    color: white;
    text-decoration: none;
}