.overallContainer{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas: "hd"
                        "main"
                        "ft";
    grid-gap: 30px;
}

.header{
    width: 100%;
    margin: auto;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    background-color: teal;
}
#sub{
    flex: 20%;
    padding: 45px;
    margin: auto;
    color: white;
}
#title{
    flex: 80%;
    margin: auto;
    color: white;
}
.main{
    grid-area: main;
}

.card{
    width: 375px;
    margin: auto;
    padding: 30px;
    border: 1px solid hsl(0, 0%, 98%);
    box-shadow: 2px 2px 10px rgb(202 202 202);
    border-top-width: 10px;
    border-top-color: hsl(180, 62%, 55%);
}

.footer{
    grid-area: ft;
    width: 100%;
    margin: auto;
    background-color: teal;
    color: white;
    padding: 20px;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footerIcons{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
}

.postsContainer{
    display: grid;
    grid-gap: 30px;
}

@media(min-width: 450px) and (max-width: 1440px){
    .card{
        width:80%;
        padding: 50px;
    }

}


@media (min-width: 1440px){
    .overallContainer{
        display: grid;
        margin: auto;
        grid-template-areas: "hd hd hd hd hd hd hd hd"
                        "main main main main main main main main"
                        "ft ft ft ft ft ft ft ft";
    }
    .postsContainer{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(2, 50%) ;
        grid-auto-rows:minmax(50px, auto);
        grid-gap: 10px;
    }
    .card{
        width: 100%;
        padding: 50px;
    }
    #sub{
        flex: 45%;
    }
    #title{
        flex: 55%;
    }
    .header, .footer{
        width: 100%;
        margin: auto;
        padding: 40px;
    }
}

